switchyard-soap-binding-demo/src/main/resources/PersonLocator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PersonLocator" targetNamespace="urn:com.ggl.switchyard:switchyard-soap-binding-demo:1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.ggl.switchyard:switchyard-soap-binding-demo:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:com.ggl.switchyard:switchyard-soap-binding-demo:1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com.ggl.switchyard:switchyard-soap-binding-demo:1.0">
  <xs:complexType name="person">
    <xs:sequence>
      <xs:element name="age" type="xs:int"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="findByLastName" type="findByLastName"/>
  <xs:complexType name="findByLastName">
    <xs:sequence>
      <xs:element minOccurs="0" name="string" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="findByLastNameResponse" type="findByLastNameResponse"/>
  <xs:complexType name="findByLastNameResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="list" type="person"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="findByLastNameResponse">
    <wsdl:part name="parameters" element="tns:findByLastNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByLastName">
    <wsdl:part name="parameters" element="tns:findByLastName">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonLocatorPortType">
    <wsdl:operation name="findByLastName">
      <wsdl:input name="findByLastName" message="tns:findByLastName">
    </wsdl:input>
      <wsdl:output name="findByLastNameResponse" message="tns:findByLastNameResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonLocatorSoapBinding" type="tns:PersonLocatorPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findByLastName">
      <soap:operation soapAction="findByLastName" style="document"/>
      <wsdl:input name="findByLastName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findByLastNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonLocator">
    <wsdl:port name="PersonLocatorPort" binding="tns:PersonLocatorSoapBinding">
      <soap:address location="http://localhost:8080/switchyard-soap-binding-demo/PersonLocator"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
